%h1
  = "#{@winner.name} Beat You #{@score}."
%h3
  If this was done in error, contact a founding father (Karan Singhal, Adam Kochman, Matthew Ender-Silberman, Steven Hefter)
%h3
  Otherwise you suck.