%object{data: root_url+"constitution.pdf", height: "700px", type: "application/pdf", width: "100%"}
  .hero-unit
    %h2
      FIFA Apes Constitution
    %br/
    %p
      It appears you don't have a PDF plugin for this browser.
      No biggie... you can
      %a{href: root_url+"constitution.pdf"}
        click here to
        download the PDF file.