.spacer
.row-fluid
  .span2
  .span8
    .hero-unit.colored
      %h1
        FIFA Apes
      .spacer
      %h3
        Thanks for registering. Remember - abide by the constitution or suffer a penalty (see constitution for details)