// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.brand {
  color: white !important;
}

.spacer {
  height: 55px;
  width: 100%;
}

.centeredtext {
  text-align: center !important;
}

.bodybackground { 
  background: url(fifabackground.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero-unit {
  color: whitesmoke !important;
}

.apelogo {
  width: 200px;
  height: 70px;
}

.signupbutton {
  position: absolute;
  top: 650px;
  width: 100%;
  text-align: center;
}

.btn {
  margin-right: 40px;
}

.coloredrow {
  background-color: rgba(40,40,40,0.9);
  border-radius: 6px;
}

.hero-unit {
  background-color: transparent;
  margin-bottom: 0px !important;
}

.colored {
  background-color: rgba(10,10,10,0.1) !important;
  border-radius: 6px;
  min-height: 400px;
  padding: 20px;
  background-color: rgba(40,40,40,0.9) !important;
  color: whitesmoke;
}

audio {
  position: absolute;
  bottom: 0;
  width: 100%;
}